.game-info {
	margin: 5px;
	display: flex;
	align-content: center;
	flex-flow: column wrap;
}

.status {
	margin: 10px;
	display: flex;
	align-content: center;
	flex-flow: column wrap;
}
.game {
	height: 80vh;
	width: 100vw;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	margin: 10px;
}

.board {
	margin: 10px;
	display: flex;
	align-content: center;
	flex-flow: column wrap;
}

.button {
	margin: 10px;
	display: flex;
	align-content: center;
	flex-flow: column wrap;
}
